* {
  box-sizing: border-box;
}
.column1 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row1::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column1 {
    width: 100%;
  }

}
/*#mod {
  background-color: #C9C3FC;
  color: black;
  font-weight: 530;
  font-size: 18px;
  border: none;
}*/

/*[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}*/
@media only screen and (min-width: 200px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media only screen and (max-width: 250px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
  input[type=text]{
        width:700px !important;
        color:black !important;
      }
  input.search-query {
    color:white;
 }
 .form-control-primary {
  margin: 10px;
  opacity: 0.8;
  border-radius: 2px;
  color:white;
}
::placeholder{
      color: black !important;
}
.prof{
  font-size: 25px; 
  padding: 15px; 
  margin-left: 5px; 
  background-color: #403B6A; 
  color: white; 
  border-radius: 15px; 
  font-family: Courier New; 
  text-shadow: 4px 5px 4px #000000;
}
.sidebar {
  position: sticky;
  left: 0;
  bottom: 0;
  top: 0;
  z-index:100;
  padding: 56px 0 0 0;
/*  border-right: 1px solid #d3d3d3;*/
}

.left-sidebar {  
  position: fixed;
  top:0;
  height: 100%;
  overflow-y: hidden;
 /* height: calc(200vh - 70px);*/
  border-right-color: 
}

.sidebar-nav li .nav-link {
  color: #333;
  font-weight: 550;
  font-size: 18px;
}
.abc:hover{
  background-color: #ADABBB !important;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button2{
  margin-left: 50px;
   border-radius: 5px;
}
.buttons{
  padding: 10px;
  text-align: center;
  margin-left: 80px;
  color: white;
  width: 90px;
  background-color: hsl(224, 60%, 47%);
  border-radius: 5px;
  border-color: hsl(214, 18%, 80%);
}
@media screen and (max-width: 1300px) {
  .ex {
    font-size: 20px;
    margin-left: 20px;
  }
  }
  @media screen and (max-width: 1300px) {
  .abc {
    font-size: 10px;
    margin-left: 2px;
  }
  }
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
