input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.h1{
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
 /* background-color: #eee;
  padding: 10px 20px;
  margin: 0px 200px; */
}
.f1{
  background-color: lightgray;
  padding: 20px 0px;
  /*margin: 0px 200px;*/
}
.b1{
  background-color: hsl(0, 0%, 71%);
  font-family:  Arial, Helvetica, sans-serif;
}
.d1{
  
}
.button {
  ;
  color: white;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
}
.container {
  padding: 50px;
  margin: 5px 50px 10px 50px;
  box-sizing: 50px;
}
.button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
 /* .imgcontainer {
  text-align: center;
  margin: 2px 100px 2px 100px;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}*/